@media (max-width:768px) {
  .about-me img {
    width:90%;
    height:90%;
  }
  .navbar .navbar-brand {
    margin-left:10px;
  }
}
@media (min-width:576px) {
  .header .content {
    min-width: 590px;
  }
}